.contact-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.contact-text10 {
  color: #ffffff;
  display: inline-block;
  font-size: 26px;
}
 
.contact-text11 {
  display: inline-block;
  font-size: 26px;
}
 
.contact-text12 {
  display: inline-block;
  font-size: 26px;
}
 
.contact-text13 {
  display: inline-block;
  font-size: 26px;
}
 
.contact-text14 {
  display: inline-block;
}
 
.contact-text15 {
  display: inline-block;
}
 
.contact-text16 {
  display: inline-block;
}
 
.contact-text17 {
  display: inline-block;
}
 
.contact-text18 {
  display: inline-block;
}
 
.contact-text19 {
  display: inline-block;
}
 
.contact-text20 {
  display: inline-block;
}
 
.contact-text21 {
  display: inline-block;
}
 
.contact-text22 {
  display: inline-block;
}
 
.contact-text23 {
  display: inline-block;
}
 
.contact-text24 {
  color: #e79c03;
  display: inline-block;
}
 
.contact-text25 {
  color: #e79c03;
  display: inline-block;
}
 
.contact-text26 {
  color: #e79c03;
  display: inline-block;
}
