.legal1-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.legal1-text10 {
  color: #ffffff;
  display: inline-block;
  font-size: 26px;
}
 
.legal1-text11 {
  display: inline-block;
  font-size: 26px;
}
 
.legal1-text12 {
  display: inline-block;
  font-size: 26px;
}
 
.legal1-text13 {
  display: inline-block;
  font-size: 26px;
}
 
.legal1-text14 {
  display: inline-block;
}
 
.legal1-text15 {
  display: inline-block;
}
 
.legal1-text16 {
  display: inline-block;
}
 
.legal1-text17 {
  display: inline-block;
}
 
.legal1-text18 {
  display: inline-block;
}
 
.legal1-text19 {
  display: inline-block;
}
 
.legal1-text20 {
  display: inline-block;
}
 
.legal1-text21 {
  display: inline-block;
}
 
.legal1-text22 {
  display: inline-block;
}
 
.legal1-text23 {
  display: inline-block;
}
 
.legal1-text24 {
  display: inline-block;
}
 
.legal1-text25 {
  display: inline-block;
}
 
.legal1-text26 {
  display: inline-block;
}
 
.legal1-text27 {
  display: inline-block;
}
 
.legal1-text39 {
  display: inline-block;
}
 
.legal1-text40 {
  display: inline-block;
}
 
.legal1-text41 {
  display: inline-block;
}
 
.legal1-text42 {
  display: inline-block;
}
 
.legal1-text43 {
  display: inline-block;
}
 
.legal1-text44 {
  display: inline-block;
}
 
.legal1-text45 {
  color: #e79c03;
  display: inline-block;
}
 
.legal1-text46 {
  color: #e79c03;
  display: inline-block;
}
 
.legal1-text47 {
  color: #e79c03;
  display: inline-block;
}
