.legal-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.legal-text10 {
  color: #ffffff;
  display: inline-block;
  font-size: 26px;
}
 
.legal-text11 {
  display: inline-block;
  font-size: 26px;
}
 
.legal-text12 {
  display: inline-block;
  font-size: 26px;
}
 
.legal-text13 {
  display: inline-block;
  font-size: 26px;
}
 
.legal-text14 {
  display: inline-block;
}
 
.legal-text15 {
  display: inline-block;
}
 
.legal-text16 {
  display: inline-block;
}
 
.legal-text17 {
  display: inline-block;
}
 
.legal-text18 {
  display: inline-block;
}
 
.legal-text19 {
  display: inline-block;
}
 
.legal-text20 {
  display: inline-block;
}
 
.legal-text21 {
  display: inline-block;
}
 
.legal-text22 {
  display: inline-block;
}
 
.legal-text23 {
  display: inline-block;
}
 
.legal-text24 {
  display: inline-block;
}
 
.legal-text25 {
  display: inline-block;
}
 
.legal-text26 {
  display: inline-block;
}
 
.legal-text27 {
  display: inline-block;
}
 
.legal-text28 {
  display: inline-block;
}
 
.legal-text29 {
  display: inline-block;
}
 
.legal-text30 {
  display: inline-block;
}
 
.legal-text31 {
  color: #e79c03;
  display: inline-block;
}
 
.legal-text57 {
  display: inline-block;
}
 
.legal-text58 {
  display: inline-block;
}
 
.legal-text59 {
  display: inline-block;
}
 
.legal-text60 {
  display: inline-block;
}
 
.legal-text61 {
  display: inline-block;
}
 
.legal-text62 {
  display: inline-block;
}
 
.legal-text63 {
  display: inline-block;
}
 
.legal-text64 {
  color: #e79c03;
  display: inline-block;
}
 
.legal-text65 {
  display: inline-block;
}
 
.legal-text66 {
  display: inline-block;
}
 
.legal-text67 {
  display: inline-block;
}
 
.legal-text68 {
  display: inline-block;
}
 
.legal-text69 {
  display: inline-block;
}
 
.legal-text70 {
  display: inline-block;
}
 
.legal-text71 {
  display: inline-block;
}
 
.legal-text72 {
  display: inline-block;
}
 
.legal-text73 {
  display: inline-block;
}
 
.legal-text74 {
  display: inline-block;
}
 
.legal-text75 {
  display: inline-block;
}
 
.legal-text76 {
  display: inline-block;
}
 
.legal-text77 {
  display: inline-block;
}
 
.legal-text78 {
  display: inline-block;
}
 
.legal-text79 {
  display: inline-block;
}
 
.legal-text80 {
  display: inline-block;
}
 
.legal-text81 {
  color: #e79c03;
  display: inline-block;
}
 
.legal-text82 {
  color: #e79c03;
  display: inline-block;
}
 
.legal-text83 {
  color: #e79c03;
  display: inline-block;
}
