.legal2-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.legal2-text10 {
  color: #ffffff;
  display: inline-block;
  font-size: 26px;
}
 
.legal2-text11 {
  display: inline-block;
  font-size: 26px;
}
 
.legal2-text12 {
  display: inline-block;
  font-size: 26px;
}
 
.legal2-text13 {
  display: inline-block;
  font-size: 26px;
}
 
.legal2-text14 {
  display: inline-block;
}
 
.legal2-text15 {
  display: inline-block;
}
 
.legal2-text16 {
  display: inline-block;
}
 
.legal2-text17 {
  display: inline-block;
}
 
.legal2-text18 {
  display: inline-block;
}
 
.legal2-text19 {
  display: inline-block;
}
 
.legal2-text20 {
  display: inline-block;
}
 
.legal2-text21 {
  display: inline-block;
}
 
.legal2-text22 {
  display: inline-block;
}
 
.legal2-text23 {
  display: inline-block;
}
 
.legal2-text24 {
  color: #e79c03;
  display: inline-block;
}
 
.legal2-text79 {
  display: inline-block;
}
 
.legal2-text80 {
  color: #e79c03;
  display: inline-block;
}
 
.legal2-text81 {
  display: inline-block;
}
 
.legal2-text82 {
  display: inline-block;
}
 
.legal2-text83 {
  color: #e79c03;
  display: inline-block;
}
 
.legal2-text84 {
  color: #e79c03;
  display: inline-block;
}
 
.legal2-text85 {
  color: #e79c03;
  display: inline-block;
}
