.features243-container1 {
  padding-left: 28px;
  padding-right: 0px;
}
 
.features243-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-fiveunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
 
.features243-image-container {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
 
.features243-image1 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.features243-image2 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.features243-image3 {
  width: 487px;
  height: 490px;
  animation-name: backInDown;
  animation-delay: 0.5s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.features243-tabs-menu {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  height: 554px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.features243-tab-horizontal1 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.features243-divider-container1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.features243-container3 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.features243-content1 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features243-feature1-title {
  fill: #e79c03;
  color: #e79c03;
  display: block;
  border-color: #000000;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  animation-name: none;
  text-transform: capitalize;
  animation-delay: 0s;
  text-decoration:  underline;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
 
.features243-feature1-description {
  fill: #e79c03;
  color: #e79c03;
}
 
.features243-tab-horizontal2 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.features243-divider-container2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.features243-container4 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.features243-content2 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features243-feature2-title {
  text-decoration: underline;
}
 
.features243-tab-horizontal3 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.features243-divider-container3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.features243-container5 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.features243-content3 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features243-feature3-title {
  text-decoration: underline;
}
 
.features243-text1 {
  display: inline-block;
}
 
.features243-text2 {
  display: inline-block;
}
 
.features243-text3 {
  display: inline-block;
}
 
.features243-text4 {
  display: inline-block;
}
 
.features243-text5 {
  display: inline-block;
}
 
.features243-text6 {
  display: inline-block;
}
 
.features243root-class-name {
  fill: #e79c03;
  color: #e79c03;
  padding-left: var(--dl-layout-space-halfunit);
  background-color: #000000;
}
 
@media(max-width: 991px) {
  .features243-container2 {
    grid-gap: var(--dl-layout-space-twounits);
    grid-template-columns: 1fr;
  }
}
