.pricing4-pricing10 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.pricing4-max-width {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.pricing4-section-title {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.pricing4-text10 {
  text-align: center;
}
 
.pricing4-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing4-text11 {
  text-align: center;
}
 
.pricing4-text12 {
  text-align: center;
}
 
.pricing4-content2 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
}
 
.pricing4-column1 {
  flex: 1;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
}
 
.pricing4-content3 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing4-price1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing4-text13 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
 
.pricing4-text14 {
  font-size: 48px;
  text-align: center;
}
 
.pricing4-text15 {
  text-align: center;
}
 
.pricing4-list1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing4-list-item1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing4-list-item2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing4-list-item3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing4-button1 {
  width: 100%;
}
 
.pricing4-column2 {
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  background-color: var(--dl-color-theme-accent1);
}
 
.pricing4-price2 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing4-price3 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing4-text20 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
 
.pricing4-text21 {
  font-size: 48px;
  text-align: center;
}
 
.pricing4-text22 {
  text-align: center;
}
 
.pricing4-list2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing4-list-item4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing4-list-item5 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing4-list-item6 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing4-list-item7 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing4-list-item8 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing4-button2 {
  width: 100%;
}
 
.pricing4-text29 {
  display: inline-block;
}
 
.pricing4-text30 {
  display: inline-block;
}
 
.pricing4-text31 {
  display: inline-block;
}
 
.pricing4-text32 {
  display: inline-block;
}
 
.pricing4-text33 {
  display: inline-block;
}
 
.pricing4-text34 {
  display: inline-block;
}
 
.pricing4-text35 {
  display: inline-block;
}
 
.pricing4-text36 {
  display: inline-block;
}
 
.pricing4-text37 {
  display: inline-block;
}
 
.pricing4-text38 {
  display: inline-block;
}
 
.pricing4-text39 {
  display: inline-block;
}
 
.pricing4-text40 {
  display: inline-block;
}
 
.pricing4-text41 {
  display: inline-block;
}
 
.pricing4-text42 {
  display: inline-block;
}
 
.pricing4-text43 {
  display: inline-block;
}
 
.pricing4-text44 {
  display: inline-block;
}
 
.pricing4-text45 {
  display: inline-block;
}
 
.pricing4-text46 {
  display: inline-block;
}
 
.pricing4-text47 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .pricing4-content2 {
    flex-direction: column;
  }
  .pricing4-column2 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .pricing4-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .pricing4-button1 {
    width: 100%;
  }
  .pricing4-button2 {
    width: 100%;
  }
}
